{{!-- <div class="g-map-canvas"></div>
<div class="g-map-declarations"> --}}
  {{yield (hash
    marker=(component 'g-map-marker' parentComponent=this)
    directions=(component 'g-map-directions' parentComponet=this)
  )}}
{{!-- </div> --}}
