
{{#g-map as |feature|}}
  {{#each stops as |stop|}}
  {{#feature.marker lat=stop.lat lng=stop.lng label=stop.id animation='DROP' as |marker|}}
    {{#marker.infowindow}}
      <h2>{{stop.title}}</h2>
      <p>{{stop.metadescription}}</p>
      {{#link-to 'tour.stop' stop.id}}Go to stop <i class='fa fa-chevron-right' aria-hidden='true'></i>{{/link-to}}
    {{/marker.infowindow}}
  {{/feature.marker}}
  {{/each}}
{{/g-map}}
