<div uk-grid>
  {{!-- <div class='uk-width-1-1@m uk-position-center'>
  </div> --}}
  <div class='uk-width-1-1@m uk-text-center'>
    {{#uk-button size='small' class='otb-collapse' on-click=(toggle 'showDirections' this)}}
      {{fa-icon 'chevron-down' class='uk-text-center'}}
    {{/uk-button}}

  {{#if stop.direction_notes}}
    {{#uk-switcher animation='uk-animation-fade' as |switcher|}}
    {{#switcher.nav type='tab' as |nav|}}
      {{#nav.component as |tab|}}
        {{#tab.item}}Directions{{/tab.item}}
        {{#tab.item}}Turn by turn{{/tab.item}}
      {{/nav.component}}
    {{/switcher.nav}}

    {{#switcher.content class='uk-text-left' as |content|}}
      {{#content.item}}
        notes
      {{/content.item}}
      {{#content.item}}
        <div id='directions-panel' class='uk-width-auto'></div>
      {{/content.item}}
    {{/switcher.content}}
    {{/uk-switcher}}
  {{else}}
    <div id='directions-panel' class='uk-width-auto'></div>
  {{/if}}
</div>
</div>
