@import 'variables';
@import 'mixins';
@import 'themes';
@import 'maps';
@import 'ember-uikit';
@import 'ember-power-select';
@import 'desktop';
@import 'admin';
@import 'login-form';

html,
body {
  font-size: 16px;
  // height: 100vh;
  // overflow-y: scroll;
}

.uk-gird-margin {
  margin-top: 0;
}

.otb-top-navbar-container,
.otb-bottom-navbar-container {
  // pointer-events: all;
  position: absolute;
  width: 100vw;
  z-index: 2;

  a,
  a:active,
  a:hover {
    color: $white;
    height: $mobile-bottom-nav-height;
    text-decoration: none;
  }

  li {

    a,
    a:active,
    a:hover {
      color: $white;
      height: $mobile-bottom-nav-height;
      text-decoration: none;
    }
  }
}

.otb-top-navbar-container {
  @include theme('background', 'primary');
  height: $mobile-top-nav-height;
  padding-left: .5em;
  padding-top: .5em;
  top: 0;
}

.otb-bottom-navbar-container {
  @include theme('background', 'primary');
  bottom: $mobile-bottom-nav-height;
  // height: $mobile-bottom-nav-height;
  width: 100vw;

  .uk-grid {
    height: $mobile-bottom-nav-height;

    a {
      display: flex;
      flex-direction: column;
      font-size: initial;
      justify-content: center;
      text-transform: uppercase;

      &.active {
        @include theme('background', 'accent');
      }

      &.loading {
        @include inactive;
      }
    }
  }
}

.uk-article {
  & * {
    &:nth-child(3) {
      display: inline;
    }
  }
}

.otb-container {
  @include parallax;
  height: calc(100vh - #{$mobile-bottom-nav-height});
}

.otb-stop-container {
  margin-top: calc(#{$mobile-top-nav-height} + 1em);
  // // pointer-events: all;
}

.otb-media {
  // @include parallax-layer;
  @include parallax-layer-base;
  margin-top: -12px;
  max-height: 50vh;
  width: 100vw;
  z-index: -1;
}

.otb-tour-intro-content,
.otb-stop-content {
  background: $white;
  // margin-top: $mobile-bottom-nav-height;
  margin-top: 1em;
}

.otb-stop-content,
.otb-tour-intro-content {
  @include parallax-layer-back;
  margin-top: $mobile-bottom-nav-height;
  padding-bottom: calc(2 * #{$mobile-bottom-nav-height});
}

.otb-tour-list {
  // height: 34vh;
  margin-top: 100vh;
  width: 100vw;

  &.uk-animation-slide-bottom {
    margin-top: unset;
  }

  .otb-tour-cover {
    background-position: center;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;

    &.otb-one-tour {
      height: 100vh;
    }

    &.otb-two-tours {
      height: 44vh;
    }

    &.otb-many-tours {
      height: 24vh;
    }

  }

  .otb-cover-meta {
    height: 5vh;
  }
}

.otb-stop-list {
  margin-top: $mobile-bottom-nav-height;

  tr {
    transform: translateX(200%);
  }
}

.otb-location-service-alert {
  margin: 0 auto;
}

.uk-slideshow {
  @include theme('background', 'secondary');
  max-height: 34vh;

  li {
    align-items: center;
    display: flex;
    justify-content: center;

    img {
      flex-shrink: 0;
      max-height: 100%;
      max-width: 100%;
    }
  }
}

.otb-menu-link {
  position: unset;
}

.stop-view {
  position: fixed;
  top: 0;
}

.material-icons {
  font-size: 1.1em;
}

.otb-map-control {
  top: 10px !important;

  button,
  &+button {
    opacity: .7;
  }

  .uk-dropdown {
    font-size: 1.25em;
    margin-top: 0;
    min-width: auto;
    padding: 1em;
  }
}

.otb-mode-contorl {
  margin-right: 5px;
}

.otb-directions-control {
  margin-left: 5px;
}

ul {
  &.otb-tabs {
    margin-top: 0;
    width: 100vw;
  }
}

.uk-active,
.adp-wanrbox {

  // This is for directions from Google Maps.
  * {
    @include theme('background', 'accent');
  }
}

.liquid-container {
  transform: none;
  width: 100vw;
}

.liquid-animating {
  &.liquid-container {
    transform: translateY(0);
  }
}

.liquid-child {
  height: 100vh;

  * {
    pointer-events: auto;
  }
}

.otb-playbutton-overlay {
  color: $white;
  font-size: 9em;
  opacity: .8;
  pointer-events: none;

  // i {
  //   pointer-events: none;
  // }
}

.uk-slider-items {
  .otb-playbutton-overlay {
    i {
      font-size: 3em;
    }
  }
}

.otb-crud {
  label {
    font-size: 1.25rem;
  }
}

.otb-crud-footer {
  background: #f8f8f8;
  border: 0 solid #e5e5e5;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
}

.otb-collapse {
  border: 0;
}

// for mobile
.media-mobile {
  h1 {
    font-size: 1.625rem !important;
  }

  .otb-container {
    td {
      cursor: pointer;
    }
  }
}

.embed-container {
  height: 0;
  max-width: 100%;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;

  iframe,
  object,
  embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.otb-crud-media-buttons {
  color: #212121;
}

.js-upload {
  width: 95%;
}

// UIKit Overrides
.uk-button {
  &:focus {
    outline: 2px solid Highlight;
  }
}

.otb-media-button {
  border: 0;
}
