@import 'variables';
@import 'mixins';
// @import 'typography';
// @import 'tour-top-nav-bar';
@import 'themes';
@import 'maps';
@import 'ember-uikit';
@import "ember-power-select";

html,
body {
  font-size: 16px;
}

.uk-gird-margin {
  margin-top: 0;
}

.otb-top-navbar-container,
.otb-bottom-navbar-container {
  // pointer-events: all;
  position: fixed;
  width: 100vw;
  z-index: 2;

  a,
  a:active,
  a:hover {
    color: $white;
    height: $mobile-bottom-nav-height;
    text-decoration: none;
  }

  li {
    a,
    a:active,
    a:hover {
      color: $white;
      height: $mobile-bottom-nav-height;
      text-decoration: none;
    }
  }
}

.otb-bottom-navbar-container {
  height: $mobile-bottom-nav-height;
}

.otb-top-navbar-container {
  @include theme('background', 'primary');
  height: $mobile-top-nav-height;
  padding-left: .5em;
  padding-top: .5em;
  top: 0;
}

.otb-bottom-navbar-container {
  @include theme('background', 'primary');
  bottom: 0;
  width: 100vw;

  .uk-grid {
    height: $mobile-bottom-nav-height;

    a {
      display: flex;
      flex-direction: column;
      font-size: initial;
      justify-content: center;
      text-transform: uppercase;

      &.active {
        @include theme('background', 'accent');
      }

      &.loading {
        @include inactive;
      }
    }
  }
}

.uk-article {
  & * {
    &:nth-child(3) {
      display: inline;
    }
  }
}

.otb-container {
  @include parallax;
  height: calc(100vh - #{$mobile-bottom-nav-height});
}

.otb-stop-container {
  margin-top: $mobile-top-nav-height;
  // // pointer-events: all;
}

.otb-media {
  // @include parallax-layer;
  @include parallax-layer-base;
  margin-top: -12px;
  max-height: 50vh;
  width: 100vw;
  z-index: -1;
}

.otb-tour-intro-content,
.otb-stop-content {
  background: $white;
  // margin-top: $mobile-bottom-nav-height;
  margin-top: 1em;
}

.otb-stop-content {
  padding-bottom: calc(2 * #{$mobile-bottom-nav-height});
}

.otb-tour-intro-content {
  @include parallax-layer-back;
  margin-top: $mobile-bottom-nav-height;
}

.otb-tour-list {
  // height: 34vh;
  margin-top: 100vh;
  width: 100vw;

  &.uk-animation-slide-bottom {
    margin-top: unset;
  }

  .otb-tour-cover {
    background-position: center;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;

    &.otb-one-tour {
      height: 100vh;
    }

    &.otb-two-tours {
      height: 44vh;
    }

    &.otb-many-tours {
      height: 24vh;
    }

  }

  .otb-cover-meta {
    height: 5vh;
  }
}

.otb-stop-list {
  margin-top: $mobile-bottom-nav-height;
  // pointer-events: all;

  tr {
    transform: translateX(200%);
  }
}

.otb-location-service-alert {
  margin: 0 auto;
}

// .otb-stop-title-bar {
//   @include theme('background', 'primary');
//   height: $mobile-top-title-bar;
//   margin-top: $mobile-top-nav-height;

//   .uk-navbar-nav {
//     li {
//       a, {
//         height: $mobile-top-title-bar;
//       }
//     }
//   }
// }

.uk-slideshow-items {
  max-height: 34vh;
}

.uk-modal {
  height: 100vh;
}

.otb-menu-link {
  position: unset;
}

.stop-view {
  position: fixed;
  top: 0;
}

.material-icons {
  font-size: 1.1em;
}

.otb-map-control {
  top: 10px !important;

  button,
  & + button {
    opacity: .7;
  }

  .uk-dropdown {
    font-size: 1.75em;
    margin-top: 0;
    min-width: auto;
    padding: 1em;
  }
}

.otb-mode-contorl {
  margin-right: 5px;
}

.otb-directions-control {
  margin-left: 5px;
}

// .otb-stop-directions-container {
//   background: $white;
//   bottom: 60px;
//   height: 65vh;
//   position: fixed;
//   // width: 100vw;
//   // transition: height 300ms;
//   // will-change: height;
//   // z-index: 22;

//   // &.show {
//   //   height: 65vh;
//   // }
// }

ul {
  &.otb-tabs {
    margin-top: 0;
    width: 100vw;
  }
}
.uk-active,
.adp-wanrbox { // This is for directions from Google Maps.
  * {
    @include theme('background', 'accent');
  }
}

.otb-directions-fab {
  bottom: $mobile-bottom-nav-height;
  left: 1em;
  width: $mobile-bottom-nav-height;

  button {
    @include theme('background', 'primary');
    border-radius: 50%;
    height: $mobile-bottom-nav-height;
    padding: 1em;
  }

  i {
    color: $white;
    font-size: 2em;
  }
}

// .liquid-stop-directions {
//   .liquid-child {
//     background: $white;
//     transform: none !important;
//   }
// }

.liquid-container {
  // pointer-events: none;
  transform: none;
  width: 100vw;
}

.liquid-animating {
  &.liquid-container {
    transform: translateY(0);
  }
}

.liquid-child {
  height: 100vh;

  * {
    pointer-events: auto;
  }
}

