$desktop-nav-height: 80px;

.map-container {
  @include theme('background', 'primary-dark');
  // left: 33wv;
  bottom: 0;
  height: calc(100% - #{$desktop-nav-height});
  position: absolute;
  top: 80;
  // right: 0;
  width: 100%;
}

.media-desktop {
  .uk-navbar {
    margin-bottom: 0;
    width: 100vw;
    z-index: 10;
  }

  .otb-desktop-tour-title {
    cursor: pointer;

    .fa {
      transition: transform 300ms linear;
    }

    &.uk-open {
      .fa {
        transform: rotate(180deg);
      }
    }
  }

  .map-map {
    height: calc(100% - #{$desktop-nav-height});
    margin-top: 0;
    right: 0;
    width: 50%;
  }

  .desktop-tour-list {
    // height: 90vh;
    // // left: 10px;
    // position: absolute;
    // padding-top: $desktop-nav-height;
    // width: 33vw;

    .intro-slideshow {
      padding-top: $desktop-nav-height;
    }

    .uk-slideshow {
      max-height: initial;
    }

    .uk-overflow-auto {
      bottom: 0;
      height: 100%;
      // position: absolute;
      // top: 0;
    }
  }

  img[data-src][src*='data:image'] { background: rgba(0,0,0,0.1); }

  .sticky-element {
    background-color: $white;
    // background-color: #494949;
    border-bottom: solid $faded-black;
    top: 80;
    // transition: background-color 300ms ease-in-out;
    z-index: 9;

    h3 {
      transition: color 300ms linear;
    }
  }

  .tour-stop {
    opacity: .2;
    transition: opacity 500ms linear;
  }

  .active-stop {
    &.tour-stop {
      opacity: 1;
    }
  }

  .desktop-dropdown-nav {
    img {
      height: 150px;
    }

    a {
      color: #212121;
      cursor: pointer;

      &:hover {
        color: #949494;
      }
    }
  }

  .otb-cover-image {
    flex-shrink: 0;
    height: 100%;
    width: 100%;
  }

  .uk-overlay-primary {
    transition: background;

    &:hover {
      background: rgba(34, 34, 34, 0.4);
    }
  }
}

.uk-offcanvas-bar {
  background: #222222de;
  width: 50vw;

  a {
    text-decoration: underline;
  }
}