$duration: .5s;

// colors
$white: #fff;
$black: #000;

$transparent: rgba(00, 00, 00, 0);
$translucent: rgba(00, 00, 00, .4);
$faded-black: rgba(00, 00, 00, .7);
$title-gradient: linear-gradient(to bottom, $transparent, $translucent, $faded-black);
