*.DS_Store
.coverage
api-server/config/database.yml
api-server/log
api-server/config/secrets.yml
tmp
api-server/config/initializers/auth.rb
api-server/public/uploads/
.vscode

# compiled output
public-interface/dist/
public-interface/tmp/

# dependencies
public-interface/bower_components/
public-interface/node_modules/

# misc
public-interface/.sass-cache
public-interface/connect.lock
public-interface/coverage/
public-interface/libpeerconnection.log
public-interface/npm-debug.log*
public-interface/testem.log
public-interface/yarn-error.log

# ember-try
public-interface/.node_modules.ember-try/
public-interface/bower.json.ember-try
public-interface/package.json.ember-try

