# See https://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp

# dependencies
/node_modules
/bower_components

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log*
yarn-error.log
testem.log
.gitkeep
.DS_Store
.watchmanconfig
.vscode

# ember-try
.node_modules.ember-try/
bower.json.ember-try
package.json.ember-try
ember-cordova/tmp-livereload
ember-cordova/cordova/node_modules
ember-cordova/cordova/package.json
ember-cordova/cordova/package-lock.json
ember-cordova/cordova/platforms/*
!ember-cordova/cordova/platforms/.gitkeep
ember-cordova/cordova/plugins/*
!ember-cordova/cordova/plugins/.gitkeep
ember-cordova/cordova/www/*
!ember-cordova/cordova/www/.gitkeep
corber/tmp-livereload
corber/cordova/node_modules
corber/cordova/package.json
corber/cordova/package-lock.json
corber/cordova/platforms/*
!corber/cordova/platforms/.gitkeep
corber/cordova/plugins/*
!corber/cordova/plugins/.gitkeep
corber/cordova/www/*
!corber/cordova/www/.gitkeep