[submodule "otb-public-interface"]
	path = otb-public-interface
	url = https://github.com/ecds/otb-public-interface
[submodule "otb-api-server"]
	path = otb-api-server
	url = https://github.com/ecds/otb-api-server
