{{outlet}}
<section class="otb-mobile-tour-container">
  <article class="uk-article uk-padding">
    <h1>{{this.model.title}}</h1>
    {{this.model.safeContent}}
    <footer class="uk-footer uk-text-center uk-margin-xlarge-bottom">
      <img src="/assets/images/otblogo.png" alt="Branding logo">
    </footer>
  </article>
</section>