<div class='otb-container'>
    <div class='otb-media'>
        {{responsive-embed embedCode='https://www.youtube.com/watch?v=TpazxwU-LzM'}}
    </div>
    <div class='uk-container otb-tour-intro-content'>
        <article class='uk-article'>
            {{read-it content=model.sanitized_description}}
            {{{model.safeDescription}}}
        </article>
    </div>
</div>
