$duration: .5s;

// colors
$white: #fff;
$black: #000;

$transparent: rgba(00, 00, 00, 0);
$darken: rgba(00, 00, 00, .4);
$darker: rgba(00, 00, 00, .6);
$translucent: rgba(00, 00, 00, .7);
$faded-black: rgba(00, 00, 00, .1);
$title-gradient: linear-gradient(to bottom, $transparent, $darken, $translucent, $faded-black);

$mobile-top-nav-height: 56px;
$mobile-top-title-bar: 60px;
$mobile-bottom-nav-height: 60px;

$global-muted-background: #d7d7d7;
$base-em-color: $black;
$base-link-color: #3f51b5;
