{{!-- TODO fix this containers --}}
<div class='otb-container otb-stop-container'>
    {{#if model.stop.media}}
    {{otb-media stop=model.stop}}
    {{/if}}
    <div class='uk-container otb-stop-content'>
        <article class='uk-article'>
            <h1 class='uk-article-title'>{{model.stop.title}}</h1>
            {{read-it content=model.stop.sanitized_description}}
            {{{model.stop.description}}}
        </article>
    </div>
</div>