<div class='otb-container otb-stop-container uk-container'>
<h1 class='uk-h1'>{{model.flat_page.title}}</h1>
<article class='uk-article'>
  {{model.flat_page.safeContent}}
</article>
</div>
<div class='otb-bottom-navbar-container' data-theme='{{theme.name}}'>
    <div class='uk-grid-collapse uk-child-width-1-1 uk-text-center' uk-grid>
{{#link-to 'tour' model.tour}}Back to tour{{/link-to}}
</div>
</div>