<div class='otb-container'>
    {{responsive-embed embedCode='https://www.youtube.com/watch?v=TpazxwU-LzM'}}
    {{!-- {{overview-map stops=model.stops}} --}}
    <div class='description'>
        <div class='expand-collapes'></div>
        <article>
            {{{model.description}}}
        </article>
    </div>
</div>
