{{!-- <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: #transparent-sticky-navbar">
    <nav class="uk-navbar-container" uk-navbar style="position: relative; z-index: 980;">
        <div class="uk-navbar-left">

            <ul class="uk-navbar-nav">
                <li>{{#link-to 'admin.index'}}Home{{/link-to}}</li>
            </ul>
        </div>
        <div class="uk-navbar-right">
          <ul class="uk-navbar-nav">
            <li>
                {{#if session.isAuthenticated}}
                    <a {{action 'invalidateSession'}}>Logout</a>
                {{else}}
                    {{#link-to 'login'}}Login{{/link-to}}
                {{/if}}
            </li>
        </ul>
        </div>
    </nav>
</div> --}}
{{outlet}}
