

  {{#file-dropzone class='js-upload uk-placeholder uk-text-center uk-inline' name=(concat modelName '-' model.id) as |dropzone queue|}}
  {{#if dropzone.active}}
    {{#if dropzone.valid}}
      Drop to upload
    {{else}}
      Invalid
    {{/if}}
  {{else}}
    <h4>Upload Images</h4>
    <p>
      {{#if dropzone.supported}}
        Drag and drop images onto this area to upload them or
      {{/if}}
      {{#file-upload name=(concat modelName '-' model.id)
                     for="upload-photo"
                     accept="image/*"
                     multiple=true
                     onfileadd=(action 'upload')}}
        <a id={{concat 'upload-' modelName '-' model.id}} tabindex=0>Upload an Image</a>
      {{/file-upload}}
    </p>
  {{/if}}
{{/file-dropzone}}