<?xml version='1.0' encoding='utf-8'?>
<widget id="io.corber.openTourBuilder" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>openTourBuilder</name>
    <description>
    </description>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <splash height="960" id="640-960" src="res/screen/ios/640-960.png" width="640" />
        <splash height="640" id="960-640" src="res/screen/ios/960-640.png" width="960" />
        <splash height="1136" id="640-1136" src="res/screen/ios/640-1136.png" width="640" />
        <splash height="640" id="1136-640" src="res/screen/ios/1136-640.png" width="1136" />
        <splash height="1334" id="750-1334" src="res/screen/ios/750-1334.png" width="750" />
        <splash height="750" id="1334-750" src="res/screen/ios/1334-750.png" width="1334" />
        <splash height="2208" id="1242-2208" src="res/screen/ios/1242-2208.png" width="1242" />
        <splash height="1242" id="2208-1242" src="res/screen/ios/2208-1242.png" width="2208" />
        <splash height="1024" id="768-1024" src="res/screen/ios/768-1024.png" width="768" />
        <splash height="768" id="1024-768" src="res/screen/ios/1024-768.png" width="1024" />
        <splash height="2048" id="1536-2048" src="res/screen/ios/1536-2048.png" width="1536" />
        <splash height="1536" id="2048-1536" src="res/screen/ios/2048-1536.png" width="2048" />
        <splash height="2732" id="2048-2732" src="res/screen/ios/2048-2732.png" width="2048" />
        <splash height="2048" id="2732-2048" src="res/screen/ios/2732-2048.png" width="2732" />
    </platform>
    <allow-navigation href="https://*youtube.com/*" />
    <allow-navigation href="https://fonts.googleapis.com/*" />
    <engine name="android" spec="~6.2.3" />
    <engine name="ios" spec="~4.4.0" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-wkwebview-engine" spec="~1.1.3" />
</widget>
