<section class="uk-inline otb-tour-cell-overlay">
  <div class="uk-overlay uk-overlay-default uk-position-center">
    <h3 class="uk-heading">{{@tour.title}}</h3>
    <p>{{@tour.stopCount}} Stops</p>
    <p>
      <UkButton @color="secondary" class="uk-align-center uk-width-1-1">start tour</UkButton>
    </p>
  </div>
</section>