<nav class='uk-panel otb-top-navbar-container' data-theme='{{theme.name}}'>
    <a uk-toggle="target: #offcanvas-overlay" class='uk-logo'>
        <i class="fa fa-bars" aria-hidden="true"></i>
    </a>

    {{#link-to 'tour' model class='uk-logo'}}{{model.title}}{{/link-to}}
</nav>

{{liquid-outlet class='stop-view'}}

{{!-- Offcanvas menu --}}
<div class="uk-offcanvas-content">
    <div id="offcanvas-overlay" uk-offcanvas="overlay: true">
        <div class="uk-offcanvas-bar">
            <button class="uk-offcanvas-close" type="button" uk-close></button>
            <nav class="uk-width-1-2@s uk-width-2-5@m">
                <ul class='uk-nav uk-nav-default'>
                    <li>{{#link-to 'index' class='uk-offcanvas-close otb-menu-link'}}All Tours{{/link-to}}</li>
                    <li><a href="#">About</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
