<div data-theme={{if model.theme model.theme.title 'default'}}>
{{#unless media.isDesktop}}
<div class="tour-top-nav-bar-wrapper pure-g">
          <div class="pure-u-2-24">
            <i class="fa fa-bars" aria-hidden="true" class="pure-menu-heading"></i>
         </div>
         <div class='pure-u-22-24'>
                  {{#link-to 'tour' model class="pure-menu-heading"}}{{model.title}}{{/link-to}}
         </div>
          <div class="pure-u-1">
              {{!-- <div class="pure-menu pure-menu-horizontal custom-can-transform"> --}}
                  <ul class="pure-menu-list">
                      <li class="pure-menu-item"><a href="#" class="pure-menu-link">Home</a></li>
                      <li class="pure-menu-item"><a href="#" class="pure-menu-link">About</a></li>
                      <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact</a></li>
                  </ul>
              {{!-- </div> --}}
          </div>
      </div>
      {{/unless}}
{{outlet}}
</div>
